*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: black;
}
.picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.box-div{
    width: 100%;
    background: linear-gradient(45deg, rgb(1, 1, 114), rgb(7, 7, 181), lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top: 2px solid white;
}
.box{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}
.f2{
    font-family:serif;
    position: relative;
    left: 50px;
}
.car-types{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.types{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.text-t{
    text-align: center;
}
.button1{
    width: 150px;
    height: 50px;
    background: linear-gradient(45deg, rgb(1, 1, 114), rgb(7, 7, 181), lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.my-card{
    height: 200px;
    border: 1px solid white;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(17, 17, 112), rgb(12, 77, 99));
    border-radius: 20px;
    padding-left: 20px;
}
.image{
    width: 200px;
    height: 100px;
    float: bottom;
    position: relative;
    left: 280px;
    top: -25px;
}
.my-pay {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.overall{
    width: 100px;
    height: 30px;
    border: 1px solid white;
}